#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/buildflags.mk
include /usr/share/dpkg/default.mk

export SOVER=0
export SONAME=libargon2.so.$(SOVER)
export SOPKG=libargon2-$(SOVER)
export OPTTARGET=$(DEB_TARGET_GNU_CPU)

%:
	dh $@

override_dh_install:
	dh_install
	sed -i '/^## /d' debian/${SOPKG}-dev/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/libargon2.pc
	sed -i s/@HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/ debian/${SOPKG}-dev/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/libargon2.pc
	sed -i s/@UPSTREAM_VER@/$(DEB_VERSION_UPSTREAM)/ debian/${SOPKG}-dev/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/libargon2.pc

override_dh_auto_test:
	-$(MAKE) -j1 test

override_dh_makeshlibs:
	dh_makeshlibs -V --add-udeb="libargon2-0-udeb"
